<!-- About Start -->

<div class="container-fluid py-5" id="about">
  <div class="container">
    <div
      class="position-relative d-flex align-items-center justify-content-center"
    >
      <h1
        class="display-1 text-uppercase text-white"
        style="-webkit-text-stroke: 1px #dee2e6"
      >
        About
      </h1>

      <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <img
          class="img-fluid rounded w-100"
          src="img/JOSH.jpg"
          alt="Joshua Bayron"
        />
      </div>

      <div class="col-lg-7">
        <h3 class="mb-4">
          Asst. Research & Development Engineer | Project Lead | Full Stack
          Engineer
        </h3>

        <p>
          Resourceful, creative, and adaptable in developing and maintaining web
          applications. Proven ability to work independently and as part of a
          team to deliver high-quality products on time and within budget.
          Seeking a challenging position in a fast-paced environment where I can
          use my skills and experience to make a significant contribution to
          your prestigious organization.
        </p>

        <div class="row mb-3">
          <div class="col-sm-6 py-2">
            <h6>
              Name:
              <span class="text-secondary">Joshua Bayron</span>
            </h6>
          </div>

          <div class="col-sm-6 py-2">
            <h6>
              Birthday:
              <span class="text-secondary">4 October 2001</span>
            </h6>
          </div>

          <div class="col-sm-6 py-2">
            <h6>
              Degree:
              <span class="text-secondary">
                Bachelor of Science in Information Technology
              </span>
            </h6>
          </div>

          <div class="col-sm-6 py-2">
            <h6>
              Email:
              <span class="text-secondary"> joshu.bayron@gmail.com </span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
