<!-- Footer Start -->
<div class="container-fluid bg-primary text-white mt-5 py-5 px-sm-3 px-md-5">

    <div class="container text-center py-5">

        <div class="d-flex justify-content-center mb-4">

            <a class="btn btn-light btn-social mr-2"
               href="https://twitter.com/_joshuabayron"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-twitter"></i>
            </a>

            <a class="btn btn-light btn-social mr-2"
               href="https://www.facebook.com/joshua.bayron.96387"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a class="btn btn-light btn-social mr-2"
               href="https://www.linkedin.com/in/joshua-bayron-3642a9258/"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <a class="btn btn-light btn-social"
               href="https://www.instagram.com/jayzesotero/"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>
            </a>

        </div>

        <div class="d-flex justify-content-center mb-3">

            <a class="text-white" href="#">Privacy</a>
            <span class="px-3">|</span>

            <a class="text-white" href="#">Terms</a>
            <span class="px-3">|</span>

            <a class="text-white" href="#">FAQs</a>
            <span class="px-3">|</span>

            <a class="text-white" href="#">Help</a>

        </div>

        <p class="m-0">
            &copy;

            <a class="text-white font-weight-bold" href="#">
                Domain Name
            </a>.

            All Rights Reserved.

            Designed by

            <a
                class="text-white font-weight-bold"
                href="https://htmlcodex.com"
                target="_blank"
                rel="noopener noreferrer">
                HTML Codex
            </a>
        </p>

    </div>
</div>
<!-- Footer End -->