<!-- Navbar Start -->

<nav
  class="navbar fixed-top shadow-sm navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-3"
>
  <a href="#home" class="navbar-brand ml-lg-3">
    <h1 class="m-0 display-5">
      <span class="text-primary">Joshua</span> Bayron
    </h1>
  </a>

  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarCollapse"
  >
    <div class="navbar-nav ml-auto py-0">
      <a href="#home" class="nav-item nav-link active"> Home </a>

      <a href="#about" class="nav-item nav-link"> About </a>

      <a href="#qualification" class="nav-item nav-link"> Qualification </a>

      <!-- <a href="#skill" class="nav-item nav-link"> Skills </a> -->

      <a href="#portfolio" class="nav-item nav-link"> Portfolio </a>
    </div>
  </div>
</nav>
<!-- Navbar End -->
