<!-- Portfolio Start -->
<div class="container-fluid pt-5 pb-3" id="portfolio">
    <div class="container">

        <!-- Portfolio Heading -->
        <div class="position-relative d-flex align-items-center justify-content-center mb-5">
            <h1
                class="display-1 text-uppercase text-white"
                style="-webkit-text-stroke: 1px #dee2e6;"
            >
                Portfolio
            </h1>

            <h1 class="position-absolute text-uppercase text-primary">
                My Portfolio
            </h1>
        </div>

        <!-- Portfolio Filters -->
        <div class="row">
            <div class="col-12 text-center mb-2">
                <ul class="list-inline mb-4" id="portfolio-flters">
                    <li
                        class="btn btn-sm btn-outline-primary m-1 active"
                        data-filter="*"
                    >
                        All
                    </li>

                    <li
                        class="btn btn-sm btn-outline-primary m-1"
                        data-filter=".first"
                    >
                        Design
                    </li>

                    <li
                        class="btn btn-sm btn-outline-primary m-1"
                        data-filter=".second"
                    >
                        Development
                    </li>

                    <li
                        class="btn btn-sm btn-outline-primary m-1"
                        data-filter=".third"
                    >
                        Games
                    </li>
                </ul>
            </div>
        </div>

        <!-- Portfolio Items -->
        <div
            class="row portfolio-container"
            id="portfolio-list"
        >
            <!-- Portfolio items inserted by portfolio.js -->
        </div>

    </div>
</div>
<!-- Portfolio End -->