<!-- Skills Start -->

<div class="container-fluid py-5" id="skill">

<div class="container">

    <div class="position-relative d-flex align-items-center justify-content-center">
        <h1
            class="display-1 text-uppercase text-white"
            style="-webkit-text-stroke: 1px #dee2e6;">
            Skills
        </h1>

        <h1 class="position-absolute text-uppercase text-primary">
            My Skills
        </h1>
    </div>

    <div class="row align-items-center">

        <!-- Programming Languages -->
        <div class="col-lg-6">

            <h3 class="mb-4">Programming Languages</h3>

            <div class="border-left border-primary pt-2 pl-4 ml-2">

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">JAVA</h6>
                        <h6 class="font-weight-bold">98%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 98%;"
                            aria-valuenow="98"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">C#</h6>
                        <h6 class="font-weight-bold">85%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 85%;"
                            aria-valuenow="85"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Digital Transformation -->
        <div class="col-lg-6">

            <h3 class="mb-4">Digital Transformation</h3>

            <div class="border-left border-primary pt-2 pl-4 ml-2">

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">ReactJS</h6>
                        <h6 class="font-weight-bold">95%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 95%;"
                            aria-valuenow="95"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">TypeScript</h6>
                        <h6 class="font-weight-bold">90%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 90%;"
                            aria-valuenow="90"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Bootstrap</h6>
                        <h6 class="font-weight-bold">90%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 90%;"
                            aria-valuenow="90"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row align-items-center">

        <!-- Design Tools -->
        <div class="col-lg-6">

            <h3 class="mb-4">Design Tools</h3>

            <div class="border-left border-primary pt-2 pl-4 ml-2">

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Photoshop</h6>
                        <h6 class="font-weight-bold">90%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 90%;"
                            aria-valuenow="90"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Figma</h6>
                        <h6 class="font-weight-bold">95%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 95%;"
                            aria-valuenow="95"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Canva</h6>
                        <h6 class="font-weight-bold">98%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 98%;"
                            aria-valuenow="98"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Databases -->
        <div class="col-lg-6">

            <h3 class="mb-4">Databases</h3>

            <div class="border-left border-primary pt-2 pl-4 ml-2">

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">MySQL</h6>
                        <h6 class="font-weight-bold">95%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 95%;"
                            aria-valuenow="95"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">SQLite</h6>
                        <h6 class="font-weight-bold">90%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 90%;"
                            aria-valuenow="90"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">PostgreSQL</h6>
                        <h6 class="font-weight-bold">90%</h6>
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 90%;"
                            aria-valuenow="90"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

</div>
<!-- Skills End -->
